<div class="sidebar" id="help">
	<div class="close"></div>
	<div class="help-content">
		<h2><%= Spree.t(:need_help) %></h2>
		<p>
			<%= Spree.t(:call_us) %><br>
			<a href="tel:<%= Spree.t(:phone_number) %>"><%= Spree.t(:phone_number) %></a>
		</p>
		<p>
			<%= Spree.t(:email_us) %><br>
			<a href="mailto:<%= Spree.t(:support_email) %>"><%= Spree.t(:support_email) %></a>
		</p>
	</div>
</div>
