<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http//www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html" charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="margin: 0;padding: 0;color: #fff;font-family: Arial, Helvetica, sans-serif;font-size: 16px;line-height: 1.5;overflow: hidden;">
  <div class="container" style="max-width: 600px;background-color: #d4a53f;text-align: center;position: relative;">
    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
      <tr>
        <td>
          <div style="background: url(<%= @base_url %>/assets/prelaunch/referral-email--top-left.png) no-repeat left top">
            <div style="width: 75%;margin: 0 auto;color: #FFF">
              <img class="logo" src="<%= @base_url %>/assets/prelaunch/logo.png" alt="Bill Blass logo" style="margin: 40px auto 60px;">

              <p style="margin: 0 auto 30px;color: #FFF">Welcome to the pre-launch of Bill Blass! <br>
                As a member of this exclusive group you are entered to win $3000 of Bill Blass product.</p>

                <p style="margin: 0 auto 30px;color: #FFF">Even better, get $10 in credit for every cool friend you refer who registers.</p>

                <br>

                <p style="margin: 0 auto 30px;color: #FFF">Refer friends here: </p>

                <img class="graph" src="<%= @base_url %>/assets/prelaunch/rewards-graph.png" alt="Graph of rewards credit racked up from referred cool friends" style="max-width: 100%;">
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div style="background: url(<%= @base_url %>/assets/prelaunch/referral-email--bottom-right.png) no-repeat right top;">
              <div style="width: 75%;margin: 0 auto;color: #FFF">
                <a href="<%= @ref_url %>" class="btn" style="width: 240px;height: 55px;display: table;margin: 40px auto;border: 2px solid #fff;color: inherit;text-decoration: none;">
                  <span style="display: table-cell;vertical-align: middle;font-size: 14px;color: #FFF">Refer friends for $10/referral</span>
                </a>

                <p style="margin: 0 auto 5px;color: #FFF">Your shareable link:</p>
                <p style="margin: 0 auto 30px;"><a href="<%= @ref_url%>" style="color: #E4C181"><%= @ref_url %></a></p>

                <div style="padding-bottom: 60px">
                  <ul style="list-style: none;padding: 0; margin: 0;">
                    <li class="twitter" style="display: inline-block;margin: 0 10px;">
                      <a style="border:0" href="http://twitter.com/share?url=<%= CGI::escape(@ref_url) %>&text=<%= CGI::escape(@share_message) %>"><img src="<%= @base_url %>/assets/prelaunch/twitter.png" alt="Tweet this">
                      </li>
                      <li class="facebook" style="display: inline-block;margin: 0 10px;">
                        <a style="border:0" href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(@ref_url) %>&title=Bill Blass"><img src="<%= @base_url %>/assets/prelaunch/facebook.png" alt="Share this info with your friends on Facebook"></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </body>
    </html>
