<div id="header">
  <div id="logo-container">
    <%= link_to '', root_path, id: 'logo' %>
    <%= link_to '', root_path, id: 'logo-name' %>
  </div>
  <%#<a class="sidebar-open" id="shop-open"><%= Spree.t(:shop) %></a>
  <%#<a class="sidebar-open" id="menu-open"><%= Spree.t(:menu) %></a>
  <%#<a id="help-open"><%= Spree.t(:need_help) %></a>
  <%#<a id="subscribe-open"><%= Spree.t(:subscribe) %></a>
  <%= render :partial => 'shared/header/menu' %>
</div>
