<div class="stock-item col-xs-6">
	<div class="item-image"><%= small_image(item.variant) %></div>
	<div class="item-name"><%= item.variant.name %></div>
	<div class="item-price"><%= display_price(item.variant) %></div>
	<div class="item-qty"><%= Spree.t(:qty) %>: <%= quantity %></div>
</div>
