<div id='line-items' class="row" data-hook="order_details">
  <% order.line_items.each do |item| %>
    <%= render partial: 'spree/shared/line_item', locals: { item: item, quantity: item.quantity } %>
  <% end %>
</div>

<div class="confirm-addresses">
  <div class="row steps-data">
    <% if order.has_step?("address") %>
      <div class="col-md-6" data-hook="order-bill-address">
        <h3><%= Spree.t(:billing_address) %> <%= link_to "(#{Spree.t(:edit)})", checkout_state_path(:address) unless order.completed? %></h3>
        <%= render 'spree/shared/address', address: order.bill_address %>
      </div>
      <% if order.has_step?("delivery") %>
        <div class="col-md-6" data-hook="order-ship-address">
          <h3><%= Spree.t(:shipping_address) %> <%= link_to "(#{Spree.t(:edit)})", checkout_state_path(:address) unless order.completed? %></h3>
          <%= render 'spree/shared/address', address: order.ship_address %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="confirm-payment-delivery">
  <div class="row" data-hook="order-payment">
    <% if order.has_step?("payment") %>
      <div class="col-md-12 payment">
        <% order.payments.valid.each do |payment| %>
          <% source = payment.source %>
          <% if (source) %>
            <%= Spree.t(:paid_with, payment_method: payment.payment_method.name) %>
            <% if source.last_digits %>
              <%= Spree.t(:ending_in) %> <%= source.last_digits %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="row" data-hook="order-shipping">
    <div class="delivery col-md-12">
      <% order.shipments.each do |shipment| %>
        <%= Spree.t(:shipped_via, shipping_method: shipment.selected_shipping_rate.name) %>
      <% end %>
      <!-- <%= link_to "(#{Spree.t(:edit)})", checkout_state_path(:delivery) unless order.completed? %> -->
      <%= render 'spree/shared/shipment_tracking', order: order if order.shipped? %>
    </div>
  </div>
</div>
<div id="checkout-summary">
  <h3><%= Spree.t(:order_summary) %></h3>
  <table>
    <tbody id="subtotal" data-hook="order_details_subtotal">
      <tr class="total" id="subtotal-row">
        <td colspan="4"><b><%= Spree.t(:subtotal) %></b></td>
        <td class="total"><span><%= order.display_item_total.to_html %></span></td>
      </tr>
    </tbody>

    <% if order.line_item_adjustments.exists? %>
      <% if order.line_item_adjustments.promotion.eligible.exists? %>
        <tbody id="price-adjustments" data-hook="order_details_price_adjustments">
          <% order.line_item_adjustments.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
           <tr class="total">
             <td colspan="4"><%= Spree.t(:promotion) %>: <strong><%= label %></strong></td>
             <td class="total"><span><%= Spree::Money.new(adjustments.sum(&:amount), currency: order.currency) %></span></td>
           </tr>
         <% end %>
       </tbody>
      <% end %>
    <% end %>

    <tbody id='shipment-total'>
      <% order.shipments.group_by { |s| s.selected_shipping_rate.name }.each do |name, shipments| %>
        <tr class="total" data-hook='shipment-row'>
          <td colspan="4" align="right" class="text-muted"><%= Spree.t(:delivery) %></td>
          <td class="total"><span><%= Spree::Money.new(shipments.sum(&:discounted_cost), currency: order.currency).to_html %></span></td>
        </tr>
      <% end %>
    </tbody>

    <% if order.all_adjustments.tax.exists? %>
      <tbody id="tax-adjustments" data-hook="order_details_tax_adjustments">
        <% order.all_adjustments.tax.group_by(&:label).each do |label, adjustments| %>
          <tr class="total">
            <td colspan="4" align="right" class="text-muted"><%= Spree.t(:tax_collected) %></td>
            <td class="total"><span><%= Spree::Money.new(adjustments.sum(&:amount), currency: order.currency) %></span></td>
          </tr>
        <% end %>
      </tbody>
    <% end %>

    <tbody id="order-charges" data-hook="order_details_adjustments">
      <% order.adjustments.eligible.each do |adjustment| %>
        <% next if (adjustment.source_type == 'Spree::TaxRate') and (adjustment.amount == 0) %>
        <tr class="total">
          <td colspan="4" align="right"><strong><%= adjustment.label %></strong></td>
          <td class="total"><span><%= adjustment.display_amount.to_html %></span></td>
        </tr>
      <% end %>
    </tbody>

    <tbody id="order-total" data-hook="order_details_total">
      <tr class="warning total">
        <td colspan="4" align="right"><b><%= Spree.t(:order_total) %></b></td>
        <td class="total"><span id="order_total" class="lead text-primary"><%= order.display_total.to_html %></span></td>
      </tr>
    </tbody>
  </table>
</div>
